body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.0);
    color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu {
    display: none;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button.easy {
    background-color: #00ff00; /* Green */
}

button.easy:hover {
    background-color: #00cc00; /* Darker green */
}

button.medium {
    background-color: #ffff00; /* Yellow */
}

button.medium:hover {
    background-color: #cccc00; /* Darker yellow */
}

button.hard {
    background-color: #FFA200; /* Orange */
}

button.hard:hover {
    background-color: #E18F01; /* Darker orange */
}

button.extreme {
    background-color: #FF1038; /* Red */
}

button.extreme:hover {
    background-color: #D40C2D; /* Darker Red */
}

button:not(.easy):not(.medium):not(.hard):not(.extreme) {
    background-color: #D40C2D; /* Default for Close button */
}

button:not(.easy):not(.medium):not(.hard):not(.extreme):hover {
    background-color: #00fff0; /* White Close button */
}

button:disabled {
    background-color: #666666;
    cursor: not-allowed;
}